@model BookStore.Model.Khoa

@{
    ViewBag.Title = "Suakhoa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <h2>ĐIỀU CHỈNH KHOA</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaKhoa)

        <div class="form-group">
            @Html.LabelFor(model => model.TenKhoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenKhoa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenKhoa, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaKhoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaKhoa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaKhoa, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="text-align:center">
                <input class="btn btn-info" type="submit" style="border:none; background-color:blue;width:100px" value="Sửa" />
                <a href="@Url.Action("Khoa", "Admin")" class="btn btn-info" role="button" style="width:100px">Trở về</a>
            </div>
        </div>
    </div>
}


